#news {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#news-feed {
  position: relative;
  /* max-width: 1000px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#news-feed.list {
  /* Listan tyyli */
  align-items: center;
  flex-direction: column;
}
#news-feed.grid {
  /* Ruudukon tyyli */
  justify-content: space-evenly;
  flex-direction: row;
}
.news-item {
  background-color: #ffffff6e;
  max-width: 600px;
  width: 100%;
  margin: 25px 10px 25px 10px;
  padding: 20px;
  border-radius: 10px;
}
.news-item a {
  text-decoration: none;
}
.news-item h2 {
  margin: 0 0 10px 0;
  color: black;
  font-size: 24px;
}
.news-item h3 {
  margin: 0 0 15px 0;
}
.news-item p {
  margin: 22px 0 0 0;
  color: black;
}
